<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FlaskBlog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    <!-- Jinja to iterate over each post in the list. -->
    {% for post in posts %}
    <a href="{{ url_for('post', post_id=post['id']) }}">
      <h2>{{ post['title'] }}</h2>
    </a>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <hr />
    {% endfor %} {% endblock %}
    <p>text cannot be seen here</p>
  </body>
</html>
